
.button-style {
    background-color: yellow;
    color: green;
  
}

.button-style:hover {
    background-color: green;
    color: yellow;
}

.logo {
    padding: 0px 15px;
}

.just-row {
    display: flex;
    justify-content: space-around;
}

.first-body-tx-line {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.nav-hidden{
    display: block;
}

.hidden {
    display: none;
}


.footer-deco {
    position: relative; 
    overflow: hidden; 
    padding: 20px;
    box-sizing: border-box;
}
.footer-deco::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUMCmWk4wlCJzJiObfu4UH_NcsN_9Sbp_9Bw&s);
    background-size: cover; 
    background-position: center; 
    filter: blur(5px); 
    z-index: 0; /* Place it behind the text */
    opacity: 0.7; /* Optional: Adjust opacity for better text contrast */
}




.footer-content {
    position: relative; 
    z-index: 1; /* Bring it to the front */
    color: white; 
}


.footer-items {
    display: flex;
    justify-content: space-around;
}

.nav-link:hover {
    border-radius: 10px;
    background-color: gray;
}



.subscribe-text {
    border: 1px solid red;
    color: #495057;
}


@media screen and (max-width: 48rem) {
    .nav-hidden{
        display: none;
    }
    
}


@media screen and (max-width: 48rem) {
    .nav-link:hover {
        border-radius: 10px;
        background-color: gray;
    }
}

@media screen and (max-width: 48rem) {
    .hidden {
        margin-top: 20px;
        display: block;
    }
}
