.logo {
    padding-right: 15px;
}

.just-row {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
}

.first-body-tx-line {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.nav-hidden{
    display: block;
}

.hidden {
    display: none;
    /* visibility: hidden; */
}

@media screen and (max-width: 48rem) {
    .nav-hidden{
        display: none;
    }
    
}

@media screen and (max-width: 48rem) {
    .hidden {
        display: block;
    }
    
}

