.test {
    border: 3px solid red;
}

.just-row {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
}

.first-body-tx-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

